
header{
  background-color:#ffeaa7;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10px;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display:flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

ol,
ul{
  margin: 0;
  padding:0;
  list-style: none;
  }

figure{
  margin:0;
}

body{
  font-family: 'Manjari',serif;
  background-color: #ffeaa7;
  margin:0;
}

/* se utiliza . para selector de clase y # para selector de id */

h1{
  line-height: 1.5em;
  font-size: 55px;
  /* font-weight: 900; no aplica porque no se importo  */
  /* font-style: italic; */
  letter-spacing: -.2px;
  /* text-transform:none;
  text-decoration: none; */
  font-family: 'Sacramento',serif;
  margin: 0px;
  color: white;
}

h1 strong{
  color:white;
}

h2 {
  color: black;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
}

.lema{
  height: 350px;
  /* background-image: url('./header 2.jpg'); */
  /* background-size: 500px 400px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center; */
  /* padding-left: 75px; */
  /* padding-top: 75px; */
  background-color: #527807; /*#d3ffbd */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lemaImage{
  object-fit: cover;
}

.project1{
  padding:20px;
}
.projectDetails{
  width: 500px;
  height: 50px;
}

.project1ImageContainer{
  width: 500px;
}

.projectArticleTittle{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.projectArticleText{
  margin: 10px 0;
  font-size: 20px;
}

.projectArticle{
/* border-top: 10px solid red; */
  border: 1px solid ;
  border-radius: 10px;
  border-color:gray;
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right: 0%;
  margin-left */
  padding: 20px;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

/* para id #Acerca{
  margin:10px;
 */
.Noticias{
  display:flex;
  flex-wrap: wrap;
}

.noticiasArticle{
  margin:10px;
  width:480px;
  flex-shrink: 0;
  border-radius:10px;
  overflow:hidden;
  background: #f4fbff;

}

.Noticias img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.noticiasDetalles{
  margin:20px 40px;
  margin-top:-40px;
  background-color: white;
  position: relative;
  padding:20px;
  text-align: center;
}

.noticiasUrl{
  color:blue;
  border:1px solid blue;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 10px;
}

#novedades{
  margin-left:10px;
}

.contactos{
  background-color: #B03905;
  color: white;
  height: 125px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.acercaTitulo{
  margin:10px;
}
.Acerca{
  margin: 10px;
}

.acercaArticle{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.acercaImageContanier{
  padding-right: 90px;
}
.acercaDetalles{
  width: 500px;
  height: 200px;
}

.acercaDetalles p{
  text-align: justify;
  margin: 10px;
}

.social{
  border: :1px solid red;
}

.social-link {
  width: 50px;
  height: 50px;
  display:inline-block;
  background-size:50px 50px;
  margin: 0 10px;
}

.social-link.instagram{
  background-image: url('./instagramW.svg');
}
.social-link.twitter{
  background-image: url('./twitterW.svg');
}

.formEmail input{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 20px;
  background-image: url('./envelope.png');
  background-size:15px 15px;
  background-repeat: no-repeat;
  background-position-y:center;
}

.formEmail button{
  background:transparent;
  color:white;
  padding: 5px 30px;
  border-radius: 5px;
}

.footer {
  background-color: #527807;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a{
  color:white;
}

/* .footer img{
  vertical-align: middle;
} */

.container{
  /* border: 1px solid red; */
  width:1000px;
  margin: 0 auto;
  display:inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
